            .header {
                background-image: url("blood.jpg");
                margin-top: 5%;
            }
            
            .bg-image {
                margin-top: 0.5%;
                background-color: ivory;
            }
            
            .maindiv {
                width: 60%;
                height: 62.7%;
                position: absolute;
                margin-left: 38%;
                border: black 2px;
                background-image: url("I1.jpg");
                background-size: 100% 100%;
                margin-top: 0%;
                animation: slider 15s infinite linear;
            }
            
            @keyframes slider {
                5% {
                    background-image: url("I1.jpg");
                    background-size: 100% 100%;
                }
                30% {
                    background-image: url("I2.jpg");
                    background-size: 100% 100%;
                }
                60% {
                    background-image: url("b1.jpg");
                    background-size: 100% 100%;
                }
                85% {
                    background-image: url("I4.jpg");
                    background-size: 100% 100%;
                }
            }
            
            .form {
                font-size: large;
                font: optional;
            }
            
            #widget {
                border-radius: 5px;
                background-color: blanchedalmond;
                width: 30%;
                height: 20%;
                padding-top: 8px;
                font: normal 10px verdana;
                text-align: center;
                padding: 20px;
                margin-left: 1.5%;
                margin-top: 1%;
                border: 5px #aaa;
                border-style: outset inset inset outset;
            }
            
            select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            
            .search {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                margin: 8px 0;
                border: none;
                width: 100%;
            }
            
            .dp {
                margin-left: 1.5%;
                width: 95%;
                background-color: white;
                height: max-content;
                margin-top: 1.5%;
                margin-bottom: 10px;
                padding: 1%;
                padding-top: 0%;
                border: 5px #aaa;
                border-style: outset inset inset outset;
            }
            
            .dp1 {
                margin-left: 1.5%;
                margin-top: 0%;
                margin-bottom: 0%;
                padding: 0.3%;
                border: 5px #aaa;
                border: 2px rgb(83, 64, 64);
            }
            
            .submit {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                margin: 8px 0;
                border: none;
                width: 10%;
            }
            
            .submit:hover,
            .search:hover {
                background-color: blue;
            }
            .copyrights{
                margin-left: 45%;
                margin-right: 45%;
            }